<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить нового работника</title>
</head>
<body>
    <h1>Добавить нового работника</h1>
    
    <form th:action="@{/worker/create}" th:object="${worker}" method="post">
        <div>
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" th:field="*{firstName}" required>
        </div>
        
        <div>
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" th:field="*{lastName}" required>
        </div>
        
        <div>
            <label for="salary">Зарплата:</label>
            <input type="number" id="salary" th:field="*{salary}" required min="0">
        </div>
        
        <div>
            <label for="workHours">Рабочие часы:</label>
            <input type="number" id="workHours" th:field="*{workHours}" required min="0" max="24">
        </div>
        
        <div>
            <button type="submit">Сохранить</button>
            <a href="/home">Отмена</a>
        </div>
    </form>
</body>
</html> 