<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:property-placeholder location="employeeInfo.properties"/>
       <bean id="BuilderBean"
             class="com.example.firstproject.Builder">
       </bean>
       <bean id="ProgrammerBean"
             class="com.example.firstproject.Programmer">
       </bean>
       <bean id="FastFoodWorkerBean"
             class="com.example.firstproject.FastFoodWorker">
       </bean>
       <bean id="nameDisplay"
             class="com.example.firstproject.employeeInfo"
             scope="singleton"
             init-method="testInitMethod"
             destroy-method="testDestroyMethod">
           <constructor-arg ref = "BuilderBean"/>
       </bean>
       <bean id="nameDisplay2"
             class="com.example.firstproject.employeeInfo"
             scope="prototype"
             init-method="testInitMethod"
             destroy-method="testDestroyMethod">
              <constructor-arg ref="ProgrammerBean"/>
              <property name="salary" value="10000"/>
       </bean>
       <bean id="nameDisplay3"
             class="com.example.firstproject.employeeInfo"
             scope="singleton"
             init-method="testInitMethod"
             destroy-method="testDestroyMethod">
              <constructor-arg ref="FastFoodWorkerBean"/>
              <property name="salary" value="${employeeInfo.salary}"/>
       </bean>

</beans>